<form class="contact-form">

    <label for="_name"> Your name </label>
    <input type="text" name="_name" id="_name" placeholder="Name" />
    
    <label for="_replyto"> Your email </label>
    <input type"email" name="_replayto" id="_replyto" placeholder="Email" />
    
    <label for="message"> Tell me everything about you... </label>
    <textarea name="message" id="message" placeholder="Hey! We're Pertti and Pirjo.."></textarea>
    
    
    <button type="submit" class="button"> Submit </button>
  </form>