<!---------------- Header ---------------->
<header class="grid padded-sm">
    <div class="col-6_sm-12-middle padded-0 center-sm">
        <a href="/index.html" class="header-home-button">
            <h1> The Design Collective. </h1>
        </a>
    </div>
    <nav class="col-6_sm-12-middle right padded-0 center-sm">
        <a href="/about.html"> About </a>
        <a href="/services.html"> Services </a>
        <a href="/portfolio.html"> Portfolio </a>
        <a href="/contact.html"> Contact </a>
    </nav>
</header>