<!DOCTYPE html>
    <html>

    <!---------------- This is the head of the HTML for linking external resources & metadata ---------------->
    <head>

        {% include head.html %}

    </head>

    <!----------------This is the body, where all of the contents of our page go ---------------->
    <body>

        <!---------------- CSS variables ---------------->
        {% include inline-styles.html %}

        <!---------------- Header banner ---------------->
        {% include site-header.html %}

        <!---------------- This is where all the content for the pages goes ---------------->
        {{ content }}

        <!---------------- Footer ---------------->
        {% include site-footer.html %}

        <!---------------- This is all the scripts ---------------->
        <!-- Don't have anything here yet. -->

    </body>
    </html>
